# Visual Studio
.vs/
*.VC.db
*.VC.opendb

# Build
Debug/
Release/
x64/
x86/
Source/BUILD/Client/MAIN/*
!Source/BUILD/Client/MAIN/Shaders/
!Source/BUILD/Client/MAIN/Shaders/**

# Temp
*.obj
*.pch
*.ilk
*.pdb
*.ipch

# User files
*.user
*.suo

# Logs
*.log